{% extends 'base.html' %}
{% block title  %}About Us{% endblock title %}
{% block body %}
<div class="container pt-3">
    <h1>About Us</h1>
    <hr>
    <p>
        An e-commerce website is an online platform where businesses showcase
         and sell their products or services to customers worldwide. It provides
        a convenient and accessible way for people to shop and make purchases 
        from the comfort of their homes. With features like a product catalog,
        secure payment processing, and order management, e-commerce websites 
        offer a seamless shopping experience. They enable customers to explore
        a wide range of products, compare prices, read reviews, and make 
        informed buying decisions. Through responsive design and various 
        customer support options, e-commerce websites strive to deliver excellent 
        service and ensure customer satisfaction.
    </p>

</div>
   
{% endblock body %}
    